<?xml version="1.0" encoding="utf-8" ?>

  <configuration>
    <configSections>
      <section name="FtpSetting" type="System.Configuration.DictionarySectionHandler" />
      <section name="ListeMail" type="System.Configuration.DictionarySectionHandler" />
      <section name="PasswordSwitch" type="System.Configuration.DictionarySectionHandler" />
      <section name="ListeSwitchsSection" type="ConfigLibrary.ListeSwitchSection, ConfigLibrary" />
    </configSections>
    <appSettings>
      <add key="PathFileLog" value="c:/temp"/>
      <add key ="FileLogTemp" value="sovswitchtemp.log"/>
      <add key="FileLogFinal" value="sovswitch.log"/>
      <add key="SmtpServeur" value="smtp.free.fr"/>
      <add key="SenderFrom" value="nolua@free.fr"/>
    </appSettings>
    <ListeMail>
      <add key="free" value="nolua@free.fr"/>
      <add key="hotmail" value="fffzaza@hotmail.com"/>
      <add key="cenexi" value="francois-xavier.jean@cenexi.com"/>
    </ListeMail>
    <FtpSetting>
      <add key="FtpAdresseIp" value="192.168.1.63"/>
      <add key="FtpSuffix" value="cisco/"/>
      <add key="FtpUser" value="fx"/>
      <add key="FtpPassword" value="IXcD0Zs1wWJ/z1/kUYcGPg=="/>
    </FtpSetting>
    <PasswordSwitch>
      <add key="passwordSwitch" value="HVZHAXDx10wVbAgWdrTzEA=="/>
      <add key="passwordEn" value="o7foykzU8tXyYqvydiGCuA=="/>
    </PasswordSwitch>
    <ListeSwitchsSection>
      <Switch SwitchName="CISCO01" SwitchIp="192.168.1.253"/>
      <Switch SwitchName="CISCO02" SwitchIp="192.168.1.254"/>
      <Switch SwitchName="CISCO03" SwitchIp="192.168.1.256"/>
      <Switch SwitchName="CISCO05" SwitchIp="19222.168.100.254"/>
    </ListeSwitchsSection>
  </configuration>
