<?xml version="1.0" encoding="utf-8" ?>

  <configuration>
    <configSections>
      <section name="FtpSetting" type="System.Configuration.DictionarySectionHandler" />
      <section name="ListeMail" type="System.Configuration.DictionarySectionHandler" />
      <section name="PasswordSwitch" type="System.Configuration.DictionarySectionHandler" />
      <section name="ListeSwitchsSection" type="ConfigLibrary.ListeSwitchSection, ConfigLibrary" />
    </configSections>
    <appSettings>
      <add key="PathFileLog" value="c:/temp/SovSwitch/log"/>
      <add key ="FileLogTemp" value="SovSwitch.log"/>
      <add key="FileLogFinal" value="SovSwitchJnl.log"/>
      <add key="SmtpServeur" value="smtp.free.fr"/>
      <add key="SenderFrom" value="okazou14@free.fr"/>
    </appSettings>
    <ListeMail>
      <add key="hotmail" value="fffzaza@hotmail.com"/>
      <add key="jeanf" value="francois-xavier.jean@cenexi.com" />
    </ListeMail>
    <FtpSetting>
      <add key="FtpAdresseIp" value="192.168.1.63"/>
      <add key="FtpSuffix" value="cisco/"/>
      <add key="FtpUser" value="fx"/>
      <add key="FtpPassword" value="IXcD0Zs1wWJ/z1/kUYcGPg=="/>
    </FtpSetting>
    <PasswordSwitch>
      <add key="Username" value="fujitsu" />
      <add key="PasswordSwitch" value="aazQPG6nLYlfCinZTqiHnQ=="/>
      <add key="PasswordEn" value="IXcD0Zs1wWJ/z1/kUYcGPg=="/>
    </PasswordSwitch>
    <ListeSwitchsSection>
      <Switch SwitchName="CISCO01" SwitchIp="192.168.1.253"/>
      <Switch SwitchName="CISCO02" SwitchIp="192.168.1.254"/>
      <Switch SwitchName="CISCO03" SwitchIp="192.168.1.253"/>
      <Switch SwitchName="CISCO04" SwitchIp="192.168.1.254"/>
      <Switch SwitchName="CISCO05" SwitchIp="192.168.1.253"/>
      <Switch SwitchName="CISCO06" SwitchIp="192.168.1.254"/>
      <Switch SwitchName="CISCO07" SwitchIp="192.168.1.253"/>
      <Switch SwitchName="CISCO08" SwitchIp="192.168.1.254"/>
      <Switch SwitchName="CISCO09" SwitchIp="192.168.1.253"/>
      <Switch SwitchName="CISCO10" SwitchIp="192.168.1.254"/>
      <Switch SwitchName="CISCO11" SwitchIp="192.168.1.253"/>
      <Switch SwitchName="CISCO12" SwitchIp="192.168.1.254"/>
      <Switch SwitchName="CISCO13" SwitchIp="192.168.1.253"/>
      <Switch SwitchName="CISCO14" SwitchIp="192.168.1.254"/>
      <Switch SwitchName="CISCO15" SwitchIp="192.168.1.253"/>
      <Switch SwitchName="CISCO16" SwitchIp="192.168.1.254"/>
      <Switch SwitchName="CISCO17" SwitchIp="192.168.1.253"/>
      <Switch SwitchName="CISCO18" SwitchIp="192.168.1.254"/>
      <Switch SwitchName="CISCO19" SwitchIp="192.168.1.253"/>
      <Switch SwitchName="CISCO20" SwitchIp="192.168.1.254"/>
      <Switch SwitchName="CISCO21" SwitchIp="192.168.1.253"/>
      <Switch SwitchName="CISCO22" SwitchIp="192.168.1.254"/>
      <Switch SwitchName="CISCO23" SwitchIp="192.168.1.253"/>
      <Switch SwitchName="CISCO24" SwitchIp="192.168.1.254"/>
      <Switch SwitchName="CISCO25" SwitchIp="192.168.1.253"/>
      <Switch SwitchName="CISCO26" SwitchIp="192.168.1.254"/>
      <Switch SwitchName="CISCO27" SwitchIp="192.168.1.253"/>
      <Switch SwitchName="CISCO28" SwitchIp="192.168.1.254"/>
      <Switch SwitchName="CISCO29" SwitchIp="192.168.1.253"/>
      <Switch SwitchName="CISCO30" SwitchIp="192.168.1.254"/>
      <Switch SwitchName="CISCO31" SwitchIp="192.168.1.253"/>
      <Switch SwitchName="CISCO32" SwitchIp="192.168.1.254"/>
    </ListeSwitchsSection>
  </configuration>
