<?xml version="1.0" encoding="utf-8" ?>

  <configuration>
    <configSections>
      <section name="FtpSetting" type="System.Configuration.DictionarySectionHandler" />
      <section name="ListeMail" type="System.Configuration.DictionarySectionHandler" />
      <section name="PasswordSwitch" type="System.Configuration.DictionarySectionHandler" />
      <section name="ListeSwitchsSection" type="ConfigLibrary.ListeSwitchSection, ConfigLibrary" />
    </configSections>
    <appSettings>
      <add key="PathFileLog" value="c:/temp/SovSwitch/log"/>
      <add key ="FileLogTemp" value="SovSwitch.log"/>
      <add key="FileLogFinal" value="SovSwitchJnl.log"/>
      <add key="SizeLog" value="300"/>
      <add key="SmtpServeur" value="smtp.free.fr"/>
      <add key="SenderFrom" value="okazou14@free.fr"/>
    </appSettings>
    <ListeMail>
      <add key="hotmail" value="fffzaza@hotmail.com"/>
    </ListeMail>
    <FtpSetting>
      <add key="FtpAdresseIp" value="192.168.1.63"/>
      <add key="FtpSuffix" value="cisco/"/>
      <add key="FtpUser" value="sovswitch"/>
      <add key="FtpPassword" value="IXcD0Zs1wWJ/z1/kUYcGPg=="/>
    </FtpSetting>
    <PasswordSwitch>
      <add key="Username" value="fujitsu" />
      <add key="PasswordSwitch" value="aazQPG6nLYlfCinZTqiHnQ=="/>
      <add key="PasswordEn" value="IXcD0Zs1wWJ/z1/kUYcGPg=="/>
    </PasswordSwitch>
    <ListeSwitchsSection>
      <Switch SwitchName="CISCO01" SwitchIp="192.168.1.253"/>
      <Switch SwitchName="CISCO02" SwitchIp="192.168.1.254"/>
      <Switch SwitchName="CISCO03" SwitchIp="192.168.1.253"/>
      <Switch SwitchName="CISCO04" SwitchIp="192.168.1.254"/>
    </ListeSwitchsSection>
  </configuration>
